main{
    background-color: #141C2B;
    margin: 0;
    padding: 0;
    display: flex;
}

#sidebar {
    display: block;
    justify-content: center;
    background-color: #1c273c;
    color: #fff;
    height: 100vh;
    width: 200px;
    padding: 20px;
}

#sidebar-filter {
    width: 100%;
    margin-top: 80px;
    margin-right: 0;
    /* display: flex; */
    flex-direction: column;
    justify-content: center;
}

.ass {
    margin-bottom: 10px;
}

.select2 {
    width: 100% !important;
}

#sidebar-logo {
    display: block;
    justify-content: center;
    /* width: 100%;
    height: 8%; */
    max-width: 100%;
    max-height: 8%;

}

#logo {
    width: auto;
    height: auto;
}

#main-content {
    background-color: #141c2b;
    color: white;
    height: 100vh;
    flex: 1;
    padding: 20px 20px 20px 10px;
    width: 100vw;
}
#table-container {
    height: auto;
    width: auto;
    max-height: 100%;
    max-width: 100%;
    margin: 20px;
    padding: 0;
}

#main-content-top {
    max-width: 100%;
    max-height: 20%;
    width: auto;
    height: auto;
    display: flex;
    -ms-flex-item-align: baseline;
    justify-content: space-between;
    /* margin: 20px; */
}


#help-export {
    display: flex;
    -ms-flex-item-align: baseline;
}

#btn-help {
    width: 80px;
    height: 40px;
    display: flex;
    -ms-flex-item-align: baseline;
    justify-content: center;
    padding: 5px;
    color: white;
}

#btn-help img {
    height: 20px;
    margin-left: 5px;
    margin-top: 3px;
    filter: invert(97%) sepia(8%) saturate(46%) hue-rotate(250deg) brightness(126%) contrast(100%);
}

#btn-export {
    width: 130px;
    height: 40px;
    display: flex;
    -ms-flex-item-align: baseline;
    justify-content: center;
    padding: 5px;
    color: white;
}

#btn-export img {
    height: 20px;
    margin-left: 6px;
    margin-top: 2px;
    filter: invert(97%) sepia(8%) saturate(46%) hue-rotate(250deg) brightness(126%) contrast(100%);
}

#crud-btn {
    display: flex;
    -ms-flex-item-align: baseline;
    width: auto;
    height: auto;
    max-width: 30%;
    max-height: 20%;
    justify-content: center;
    padding: 5px;
    width: 60px;
    color: white;
    margin-left: 50px;
}

#crud-btn img {
    height: 20px;
    margin-bottom: 2px;
    filter: invert(97%) sepia(8%) saturate(46%) hue-rotate(250deg) brightness(126%) contrast(100%);
}

#search-bar {
    width: 100%;
}

#search {
    width: 40%;
}

@media (max-width: 600px) {
    #main-content-top {
        max-width: 100%;
        -ms-flex-item-align: baseline;
        justify-content: space-between;
        /* margin: 20px; */
    }
}