body {
    background-color: #141C2B;
    width: 100%;
}


/* Conteúdo da página */
#login-box{
    width: 45vw;
    height: 50 vh;
    display: block;
    text-align: center;
    padding: 80px;
}

@media only screen and (max-width: 1080px) {
    #login-box {
      width: 70vw;
    }
  }

@media only screen and (max-width: 600px) {
    #login-box {
      width: 80vw;
    }
  }


/* logo */
#login-logo-img{
    width: 85%;
    height: auto;
}

/* Formulário */
#form-box{
    margin-top: 10%;
    display: block;
    text-align: center;
    /* background-color: #4f5f7a2f; */
    width: 100%;
    height: 100%;
}

/* titulo login */
#login-title{
    color: #ffffff;
    display: block;
    width: 100%;
    height: auto;
}

#login-title-text{
    font-size: 1.82vw;
}

/* Input Form */
.login-inputs {
    display: block;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 1rem;
}

.login-inputs input {
    width: 100%;
    height: 3.5rem;
    border-radius: .3rem;
    border: none;
    padding: .8rem;
    font-size: 1.3rem;
    font-weight: 500;
    background-color: #343d4e1f;
    transition: all .2s ease-in-out;
    pointer-events: all;
}

#login-inputs input:focus {
    border-bottom: 1px #25cbe0 solid;
    transition: all .2s ease-in-out;
}

#inputEmail, #inputPassword{
    background-color: #ffffff;
    color: #141C2B;
}

/* botão */

#btn-login{
    width: 100%;
}