:root {
    --body-color-dark: #141C2B;
    --bg-color-dark-primary: #1C273C;
    --input-bg-color-dark: #293751;
    --input-color: #d1d1d1;
}

*{
    margin: 0;
    padding: 5px;
    box-sizing: border-box;
    font-family: 'IBM Plex Sans', sans-serif;
}
*:before,
*:after {
  box-sizing: border-box;
}

body::-webkit-scrollbar {
    width: .5rem;               /* width of the entire scrollbar */
  }
  
body::-webkit-scrollbar-track {
    background: transparent;        /* color of the tracking area */
  }
  
body::-webkit-scrollbar-thumb {
    background-color: #dadada8a;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: none;  /* creates padding around scroll thumb */
  }

input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
}
input[type=number] { 
   -moz-appearance: textfield;
   appearance: textfield;
}

body {
    background: linear-gradient(320deg, #141c2b, #16324e);
}

body, html, #react-entry-point, #main-div, .container-fluid {
    width: 100%;
    height: 100%;
}

textarea {
    resize: none;
    overflow: hidden;
}

/* --------------------------- LOGIN --------------------------- */
#login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(320deg, #141c2b, #16324e);
    height: 100%;
    width: 100%;
}

#login-form {
    display: flex;
    flex-direction: column;
/*     
    display: grid;
    grid-template-columns: 1fr 2fr; */
    align-items: center;
    justify-content: center;
    height: 95vh;
    width: 95%;
    padding: 2rem;
    margin: 1rem 0;
    background: linear-gradient(320deg, #141c2b, #16324e);
    border-radius: .4rem;
    
}

.login-error {
    display: none;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 1rem;
    width: 35%;
    font-weight: 700;
}

.login-error-text {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: #d1d1d1;
    font-size: 1.2rem;
    font-weight: 700;
    padding: .5rem;
    border-radius: .5rem;
    background: red;
    animation: error .5s ease-in-out;
}

@keyframes error {
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(1.2);
        box-shadow: 0 0 14px 1px #0000007e;
    }
    100% {
        transform: scale(1);
    }
}

/* #login-box {
    background-color: #34476670;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 2rem;
    width: 40%;
    height: 60%;
} */

#login-box {
    background-color: #34476670;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 0rem;
    width: 100%;
    height: 100%;
    max-width: 600px;
    flex-shrink: 1;
}

#login-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 1rem;
}

#login-logo-img {
    width: 23rem;
    height: auto;
}

.login-inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 1rem;
}

.login-inputs input {
    width: 30rem;
    height: 3.5rem;
    border-radius: .3rem;
    border: none;
    padding: .8rem;
    font-size: 1.3rem;
    font-weight: 500;
    color: #000000;
    background-color: #ffffff;
    transition: all .2s ease-in-out;
    pointer-events: all;
}

#login-inputs input:focus {
    border-bottom: 1px #25cbe0 solid;
    transition: all .2s ease-in-out;
}

#login-button {
    background-color: #063CDD; 
    color: #d1d1d1;
    width: 30rem;
    transition: all .2s ease-in-out;
}

#login-button:active {
    box-shadow: 0 0 14px 1px #063CDD;
    background-color: #0A4BFF;
}

.input-error {
    border: 1px solid red;
}

.hidden {
    display: none;
}

#login-title {
    color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}