body{
    background-color: #141C2B;
    margin: 0;
    padding: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#sidebar {
    display: flex;
    position: relative;
    justify-content: center;
    float: left;
    width: 17%;
    height: 100%;
    background-color: #1c273c;
}

#sidebar-header{
    padding: 10% 5% 5% 10%;
    position: absolute;
    top: 0;
    width: 100%;
    height: 15%;
    border-bottom: 3px solid #141C2B;
}

#toggle_sidebar {
    float: right;
    background-color: #1C273C;
    border: 0;
    padding: 0;
    width: 15%;
    height: 50%;
}

#toggle_sidebar:hover {
    border-radius: 10px;
    background-color: #31405e;
}

#sidebar-header button img {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(97deg) brightness(108%) contrast(101%);
    width: 100%;
    height: 100%;
}

#sidebar-content{
    padding: 5% 5% 5% 5%;
    position: absolute;
    top: 52.7%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 75%;
}

#sidebar-filter {
    width: 100%;
    margin-top: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
}

#sidebar-footer{
    padding: 5% 5% 5% 10%;
    display: flex;
    color: white;
    border-top: 3px solid #141C2B;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10%;
    align-items: center;
}


.filters {
    margin-bottom: 10px;
}

.select2-selection--single {
    height: 2rem !important;
    background-color: #31405e !important;
    border: 1px solid #141C2B !important;
}

.select2-selection__rendered{
    color: #fff !important;
}

.select2-selection__arrow{
    border-left: 2px solid #141C2B !important;
    height: 100% !important;
}

.select2 {
    width: 100% !important;
}

#sidebar-logo {
    display: block;
    justify-content: center;
    max-width: 100%;
    max-height: 8%;
}

#logo {
    width: 80%;
    height: auto;
}

#settings {
    margin-left: auto;
    background-color: #1C273C;
    border: 0;
    padding: 0;
    width: 20%;
    height: 100%;
}

#settings img {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(97deg) brightness(108%) contrast(101%);
    width: 100%;
    height: 100%;
}

#settings:hover {
    border-radius: 10px;
    background-color: #31405e;
}

#user {
    display: flex;
  }

#user img {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(97deg) brightness(108%) contrast(101%);
    border: 1px solid black;
    width: 30%;
    height: 100%;
    margin-right: 0;
}

#user p {
    margin-left: 6%;
    font-size: 0.9rem;
    margin-top: auto;
    margin-bottom: auto;
}

#main-content {
    width: 83%;
    color: white;
    padding: 20px 20px 20px 10px;
    margin: 0;
}
#table-container {
    height: auto;
    width: auto;
    max-height: 100%;
    max-width: 100%;
    margin: 20px;
    padding: 0;
}

#main-content-top {
    max-width: 100%;
    max-height: 20%;
    width: auto;
    height: auto;
    display: flex;
    -ms-flex-item-align: baseline;
    justify-content: space-between;
}


#help-export {
    display: flex;
    -ms-flex-item-align: baseline;
}

#btn-help {
    width: 80px;
    height: 40px;
    display: flex;
    -ms-flex-item-align: baseline;
    justify-content: center;
    padding: 5px;
    color: white;
}

#btn-help img {
    height: 20px;
    margin-left: 5px;
    margin-top: 3px;
    filter: invert(97%) sepia(8%) saturate(46%) hue-rotate(250deg) brightness(126%) contrast(100%);
}

#btn-export {
    width: 130px;
    height: 40px;
    display: flex;
    -ms-flex-item-align: baseline;
    justify-content: center;
    padding: 5px;
    color: white;
}

#btn-export img {
    height: 20px;
    margin-left: 6px;
    margin-top: 2px;
    filter: invert(97%) sepia(8%) saturate(46%) hue-rotate(250deg) brightness(126%) contrast(100%);
}

#crud-btn {
    display: flex;
    -ms-flex-item-align: baseline;
    width: auto;
    height: auto;
    max-width: 30%;
    max-height: 20%;
    justify-content: center;
    padding: 5px;
    width: 60px;
    color: white;
    margin-left: 50px;
}

#crud-btn img {
    height: 20px;
    margin-bottom: 2px;
    filter: invert(97%) sepia(8%) saturate(46%) hue-rotate(250deg) brightness(126%) contrast(100%);
}

#search-bar {
    width: 100%;
    background-color: #31405e;
    border-color: #1c273c;
    color: white;
}

@media (max-width: 600px) {
    #main-content-top {
        max-width: 100%;
        -ms-flex-item-align: baseline;
        justify-content: space-between;
    }
}

#main-content-bottom {
    display: flex;
    justify-content: center;
    margin-top: 1%;
    overflow: auto;
    max-height: 90%;
    max-width: 100%;
}

.table {
    background-color: #31405e;
    color: white;
}

thead {
    position: sticky;
    top: -1px;
    background-color: #1C273C;
    color: white;
}

table, th, td {
    border: 1px solid #141C2B;
}

tbody {
    background-color: #293751;
}
  
tbody::-webkit-scrollbar {
    width: 10px;
}

tbody::-webkit-scrollbar-thumb {
    background-color: #888;
}

tbody::-webkit-scrollbar-track {
    background-color: #f5f5f5;
}

.selected{
    background-color: #0B5ED7;
}



.modal {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #141C2B;
    color: white;
    border: 1px solid #293751;
    width: 60%;
    height: 80%;
}

#footer-modal {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #293751;
    padding: 20px;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
}

.modal-content {
    position: relative;
}

#footer-modal {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    border-top: 1px solid #1C273C;
}

#footer-modal button {
    max-width: 10rem;
    min-width: 5rem;
    width: 10rem;
}

#header-modal {
    display: block;
    text-align: center;
    padding: 10px;
    border-bottom: 2px solid #1C273C;
}

.forms{
    display: inline;
    color: white;
    font-size: large;
}

.form-control[disabled]{
    color: #6c757d !important;
}

.modal-crud-middle{
    padding: 2% 10% 2% 10%;
}

#input-forms{
    width: 100%;
    background-color: #31405e;
    border-color: #1c273c;
    color: white;
    margin-bottom: 15px;
}