#wraper {
    display: flex;
    flex-direction: row;
    height: calc(100vh - 60px);
    width: 100vw;
    margin: 0;
}

#sidebar {
    display: block;
    justify-content: center;
    background-color: #1c273c;
    color: #fff;
    height: 100vh;
    width: 15vw;
    padding: 20px;
}

#sidebar-filter {
    margin-top: 80px;
}

#sidebar-logo {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 10%;
}

#logo {
    height: auto;
    width: auto;
    max-width: 100%;
    max-height: 100%;
}

.dpd {
    color: black;
}

#main-contet {
    background-color: #141c2b;
    color: white;
    height: 100vh;
    flex: 1; /* expande o main para ocupar o espaço restante */
    padding: 20px 20px 20px 10px;
    width: 100vw;

}

#table {
    height: auto;
    width: auto;
    max-height: 100%;
    max-width: 100%;
    margin: 20px;
    padding: 0;
}

#table-actions {
    max-width: 100%;
    max-height: 20%;
    width: auto;
    height: auto;
    display: flex;
    -ms-flex-item-align: baseline;
    justify-content: space-between;
    margin: 20px;
}


#help-export {
    display: flex;
    -ms-flex-item-align: baseline;
}

#btn-help {
    width: 80px;
    height: 40px;
    display: flex;
    -ms-flex-item-align: baseline;
    justify-content: center;
    padding: 5px;
    color: white;
}

#btn-help img {
    height: 20px;
    margin-left: 5px;
    margin-top: 3px;
    filter: invert(97%) sepia(8%) saturate(46%) hue-rotate(250deg) brightness(126%) contrast(100%);
}

#btn-export {
    width: 130px;
    height: 40px;
    display: flex;
    -ms-flex-item-align: baseline;
    justify-content: center;
    padding: 5px;
    color: white;
}

#btn-export img {
    height: 20px;
    margin-left: 6px;
    margin-top: 2px;
    filter: invert(97%) sepia(8%) saturate(46%) hue-rotate(250deg) brightness(126%) contrast(100%);
}

#crud {
    display: flex;
    -ms-flex-item-align: baseline;
    width: auto;
    height: auto;
    max-width: 30%;
    max-height: 20%;
}


#btn-crud {
    font-size: 1.1rem;
    width: 90px;
    height: 40px;
    display: flex;
    -ms-flex-item-align: baseline;
    justify-content: center;
    padding: 5px;
    color: white;
}

#btn-crud img {
    height: 20px;
    margin-left: 6px;
    margin-top: 2px;
    filter: invert(97%) sepia(8%) saturate(46%) hue-rotate(250deg) brightness(126%) contrast(100%);
}

#add-row {
    font-size: 1.1rem;
    width: 140px;
    height: 40px;
    display: flex;
    -ms-flex-item-align: baseline;
    justify-content: center;
    padding: 5px;
    color: white;
}

#add-row img {
    height: 20px;
    margin-left: 6px;
    margin-top: 2px;
    filter: invert(97%) sepia(8%) saturate(46%) hue-rotate(250deg) brightness(126%) contrast(100%);
}

#search-bar {
    width: 100%;
}

#search {
    width: 50%;
}