@media screen and (max-width: 1920px) {
      .container {
        padding-top: 10px;
        background-color: #16324e;
        height: 60vh;
    }
    
    #logo img{
        display: flex;
        margin-left: auto;
        margin-right: auto;
        height: 18vh;
    }
    
    #login-form {
        display: flex;
        justify-content: center;
    }
    
    #form-login {
        width: 80%;
    }
    
    #form-login label{
        color: white;
    }
    
    #login-form h2 {
        margin-top: 25px;
        margin-bottom: 0px;
        text-align: center;
        color: white;
    }
    
    #username-input, #password-input {
        display: flex;
        text-align: center;
        width: 100%;
        padding: 5px;
        padding-left: 10px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 15px;
        text-align: left;
        height: 6vh;
        font-size: 15px;
    }
    
    #buttons {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 10px;
    }
    
    #buttons button {
        width: 40%;
    }

    #try-again:hover {
        border-bottom: 1px solid black;
        cursor: pointer;
    }
}

@media screen and (min-width: 1920px) {
    .main {
        background-color: white;
        height: 90vh;
        margin: 0px;
    }
    
    .container {
        padding-top: 30px;
        background-color: #16324e;
        height: 60vh;
    }
    
    #logo img{
        display: flex;
        margin-left: auto;
        margin-right: auto;
        height: 18vh;
    }
    
    #login-form {
        display: flex;
        justify-content: center;
    }
    
    #form-login {
        width: 80%;
    }
    
    #form-login label{
        color: white;
    }
    
    #login-form h2 {
        margin-top: 25px;
        margin-bottom: 0px;
        text-align: center;
        color: white;
        font-size: 40px;
    }
    
    #username-input, #password-input {
        display: flex;
        text-align: center;
        width: 100%;
        padding: 5px;
        padding-left: 10px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 25px;
        text-align: left;
        height: 7vh;
        font-size: 20px;
    }
    
    #buttons {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 20px;
        font-size: 17px;
    }
    
    #buttons button {
        width: 40%;
    }
}